<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alexmerkel.datetime-format-converter</string>
	<key>connections</key>
	<dict>
		<key>78186B00-90E0-437B-8F42-09282A73D2E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A241B58-CFB1-4BC9-A0B1-F007F87D016F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alex Merkel</string>
	<key>description</key>
	<string>Convert timestamps and datetime strings into various formats, based on version by Michael Waterfall and Yanhe</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Datetime Format Converter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8A241B58-CFB1-4BC9-A0B1-F007F87D016F</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>df</string>
				<key>script</key>
				<string>python3 process.py "{query}"</string>
				<key>subtext</key>
				<string>Examples: 1364302555, 2013-01-15 19:41:06, now</string>
				<key>title</key>
				<string>Enter timestamp, datetime string, or "now"</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>78186B00-90E0-437B-8F42-09282A73D2E9</string>
		</dict>
	</array>
	<key>readme</key>
	<string>v0.3
Requires pytz and tzlocal

Based on work by Michael Waterfall and Yanhe
https://github.com/mwaterfall/alfred-datetime-format-converter
https://github.com/kissghosts/alfred-datetime-format-converter/tree/alfred4-timezone

This workflow uses these awesome Python projects:

Delorean by Mahdi Yusuf
https://github.com/myusuf3/delorean

Alfred Python by Jan Müller
https://github.com/nikipore/alfred-python</string>
	<key>uidata</key>
	<dict>
		<key>8A241B58-CFB1-4BC9-A0B1-F007F87D016F</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>78186B00-90E0-437B-8F42-09282A73D2E9</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>webaddress</key>
    <string>https://alexmerkel.com</string>
</dict>
</plist>
